html body {
    background: url("../../Images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
}
.appSearch {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    color: rgba(231, 227, 216, 0.747);
    margin-bottom: 15px;
}
.navSearch {
    position: fixed;
    background-repeat: no-repeat;
    backdrop-filter: blur(2rem);
    background-image: url("../../Images/background1.jpg"); 
    width: 100%;
     min-width: 430px; 
    height: 10.6rem;
    padding: 0rem;
    margin: 0px;
    /* position: fixed; */
    top:0;
     z-index: 1001; 
}
.search{
    position: fixed;
    top: 4.6rem;
     left: 1.5rem; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    min-width: 430px; 
    margin-bottom: 10px;
}
.labelCreate{
    cursor: pointer;
}
#inputSearch{
    text-align: left;
    border-radius: 0.25rem;
    border: 1px solid rgba(245, 222, 179, 0.295);
    background-color: transparent;
    color: rgba(231, 227, 216, 0.747);
    font-size: 20px;
    padding-left: 5px;
    width: 100%;

    outline: none;
    background-color: transparent;
}
 
.buttonSearch,.iconCreate,.buttonFilter button{
    margin: .2rem 0.25rem;
    padding: 0.4rem 0.5rem;
    border: none;
    border-radius: 0.4rem;
    background: linear-gradient(
    180deg,
    rgb(158, 133, 95) 0%,
    rgba(71, 35, 15, 0.71) 100%
    );
    color: rgba(231, 227, 216, 0.747);
    font-size: 16px;
    cursor: pointer;
    }
.buttonFilter{
        position: fixed;
        top: 8rem;
        right: 1.5rem;
        text-decoration: none;
    }
.iconCreate{
    position: fixed;
    top: 2.3rem;
    right: 1.1rem;
    text-decoration: none;
    }
.iconCreate:hover,.buttonSearch:hover,.buttonFilter:hover,.selectFilter:hover,#by:hover,#type:hover{
        transform: scale(1.025, 1.025);
        filter: drop-shadow(0 0 12px white);
    }
.formSubmit {
    display: flex;
    align-items: center;
    width: 400px;
    height: 40px;
    margin-bottom:5px;
    margin-top: 9px;
    padding: .25rem;
    border-radius: 0.25rem;
    backdrop-filter: blur(2rem);
    box-shadow: -2px 2px 20px rgb(36 36 36);
    color: rgba(231, 227, 216, 0.747);
    font-size: 1.25rem;
}
.formSubmit:before {
    transform: scaleX(0);
    background: rgb(242 119 19 / 83%);
    transform-origin: center;
    transform-origin: left;
    transition: transform .25s;
    bottom: 8px;
    left: 5px;
    width: 350px;
    height: 2px;
    position: absolute;
    content: "";
}
.formSubmit:focus-within::before {
    transform: scaleX(1);
}
.labelCheck {
    display: inline-block;
    margin: 0.05rem 0.2rem 0.05rem 0.2rem;
    font-size: smaller;
    padding: 0.1rem 0.3rem;
    border-radius: 15px;
    background-color: rgba(235, 98, 35, 0.459);
    width: fit-content;
  }


.input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    color: rgba(231, 227, 216, 0.747);
    padding-left: 10px;
    padding-top: 4px;
}
.filter {
    top:8.3rem;
    right:0rem;
    height: 2rem; 
    position:fixed;
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-bottom:5px;
    margin-top: 0px;
    z-index:1002;
   
}
.formFilters {
    top: 8.5rem;
    right: 0rem;
    height: 2rem;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-content: flex-start;
    align-items:flex-start;
}
.listCheck{
    display: flex;
    flex-direction:column;
    box-shadow: -2px 2px 20px rgb(36, 36, 36);
    align-items: flex-start;
    justify-content: center;
    position: relative;
    font-size:smaller;
    height: auto;
    width: 9rem;
    color: rgba(231, 227, 216, 0.747); 
    border: 1px solid rgba(119, 23, 23, 0.692);
    border-radius:  5px;
}
.options{
    position:fixed;
    top:8rem;
    left: 0rem;
    width: 100%;
    height: 2.7rem;
    /* min-width: 450px; */
    padding: 0rem;
    margin: 0rem;
}
.selects {
    position: fixed;
    top: 8rem;
    left: 0;
    height:2.5rem;
    min-width: 450px;
    width: 100%;
    text-shadow: 0 0 1px rgba(235, 185, 169, 0.479);
    background: linear-gradient(
      180deg,
      rgba(233, 139, 62, 0.83) 0%,
      rgba(255, 255, 255, 0.082) 100%
    );
    color: rgba(231, 227, 216, 0.747);
    display: grid;
    grid-template-columns: repeat(8, 1fr);    
    
    padding-left: 0.3rem;
    }
.selectFilter {
    position: fixed;
    top: 8.3rem;
    right: 0rem;
    color: rgba(231, 227, 216, 0.747);
    text-shadow: 0 0 1px rgba(235, 185, 169, 0.479);
    font-size: small;
    text-align: center;
    width: 8rem;
    background: linear-gradient(
      180deg,
      rgba(233, 139, 62, 0.83) 0%,
      rgba(255, 255, 255, 0.082) 100%
    );
    border: 2px solid rgba(119, 89, 25, 0.6);
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(5px);
    border-radius: 15px;
    padding: 2px;
    cursor: pointer;
}
.iconFilter{
    position: fixed;
    top: 8.7rem;
    right: 8.0rem;
}
.selectFilter option {
    background-color: #703711c7;
  }
.labelSelect,#labelType {
    min-width: 75px;
    height: 2rem;
    display:flex;
    justify-content:flex-end;
    align-items: center;
    /* font-style:normal;
    text-align:end; */
    font-size: small;
    position: relative;
    margin:2px;
    padding: 2px;
    color: rgba(231, 227, 216, 0.747);
    }

#by,#type, select{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-width: 60px;
    height: 2rem;
    margin: 2px;
    border-radius:  5px;
    font-size: small;
    background: linear-gradient(
        180deg,
        rgb(158, 133, 95) 0%,
        rgba(71, 35, 15, 0.71) 100%
    );
    color: rgba(231, 227, 216, 0.747);
    cursor: pointer;
}
#by,#type option{
    background-color: #703711c7;
}
#type,#labelType{
    display:none;

}
.recipes{
    position:relative;
    top:10rem;
    width:100%;
}