.content {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid rgb(161, 91, 58);
    border-radius: 2rem;
    margin: 3rem auto;
    padding-bottom: 3rem;
    width: 45rem;
    color: #703008ea;
    background: rgba(220, 192, 176, 0.55);
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3rem);
  }
  .title {
    padding: 1rem;
    margin: 1 rem;
    text-shadow: 0 0 0.3rem rgba(209, 156, 106, 0.842);
    
  }
  .img {
    margin-top: 1rem 1rem;
    box-shadow: 0px 0px 15px 3px rgba(49, 46, 46, 0.774);
    border-radius: 1rem;
  }
  .summary {
    padding: 1rem 4rem;
    text-align: justify;
  }
  .subtitle{
    text-align:left;
    padding:1rem;
    font-size: x-large;
  }
  .dietTypes,.dishType{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    padding-bottom: 1rem;
  }
  .types,.dishType {
    margin: 0 3rem;
    text-transform: capitalize;
    display: flex;
    justify-content: space-evenly;

    display: inline-block;
    margin: 0.05rem 0.2rem 0.05rem 0.2rem;
    font-size: smaller;
    padding: 0.1rem 0.3rem;
    border-radius: 15px;
    background-color: rgba(235, 98, 35, 0.459);
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .instructions {
    padding: 0 4rem;
    text-align: justify;
  }
  
.scores {
    display: flex;
    justify-content: space-around;

    margin: 1rem 1.5rem;
  } 
.score {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    /* Añado mis propios estilos */
    width: 6.5rem;
    height: 1rem;
    overflow: hidden;
    border: solid 1px rgb(124, 150, 95);
    border-radius: 20px;
  }
  
  .score::-webkit-progress-bar {
    background: linear-gradient(
      90deg,
      rgb(248, 17, 29) 0%,
      rgb(252, 252, 73) 50%,
      rgb(39, 236, 39) 100%
    );
  }
  
  .score::-webkit-progress-value {
    background-color: rgba(228, 222, 222, 0.171);
    backdrop-filter: blur(2rem);
    box-shadow: 0 0 0.5rem rgb(8, 8, 8);
    border-radius: 4rem;
  }
