.AppCreate{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgba(0, 0, 0, 0.76);
    height:auto;
    width: 100vw;
    top:3.3rem;
    position: relative;
    backdrop-filter: blur(3rem);
    background: linear-gradient(180deg,rgba(101,81,62,.75),rgba(98,94,87,0));
}
.CreateBody{
display: flex;
flex-direction: column;
justify-content: center;
text-align:left;
width: 80%;
padding: 1rem;
}
.CreateForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    border:2px solid brown;
    margin: 1rem auto;
    padding-top: 1rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.856);
    -webkit-box-shadow: 5px 8px 23px 2px rgba(0,0,0,0.43); 
    box-shadow: 5px 8px 23px 2px rgba(0,0,0,0.43);
    border-radius: 1rem;
}
.titleCreate {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    color: #ce5249;
    font-style: italic;
}

.checks{
    padding:2px;
}
.dietsCheck{
    text-transform: capitalize;
    display:inline-block;
    align-items:baseline;
    font-size: x-small;
    padding: 0.1rem;
    margin:0.1rem;
    border-radius: 5px;
    background-color: rgba(235, 98, 35, 0.459);
}

#recipecreated{
    font-style: italic;
    text-decoration-line: overline;
    align-self: center;
    margin-top: 4%;
}

#submitButton{
    align-self: center;
    margin-top: 4%;
    background-color: rgba(252, 61, 61, 0.788);
    margin-bottom: 15px;
    outline: transparent;
    text-decoration: none;
    border-radius: 4px;
    font-size: 18px;
    padding: 6px;
    border-width: 0;
}

#submitButton:hover {
    background-color: rgba(0, 114, 28);
    outline: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
};

.labels{
    position:relative;
    left: 1rem;
}
.nameInputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    letter-spacing: 0.1em; 
    width: 100%;
}

.msgs {
    align-items: flex-start;
    padding-bottom: 3px;
    color: #ce5249;
    font-style: normal;
    font-size: small;
}
.score{
    display: flex;
    letter-spacing: 0.1em;
    justify-content: flex-start;
    margin-left: 5%;
    width: 400px;
}
.instructionsInput,.summaryInput,.titleInput{
    border-radius: 5px;
}